.headerAppBar {
  background-color: #003366
}

.headerToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 8px 16px;
}

.headerLogoTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoWrapper {
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
}

.logoIcon {
  margin-top: 2px;
  height: 20px;
  width: 20px;
  color: #003366;
}

.headerTitle {
  color: #fff;
  font-weight: 600;
}